body {
    background: #F0F1F5;
    margin: 0;
    font-family: "Helvetica", sans-serif;
    padding: 2rem 12rem;
}

header > p {
    float: left;
    color: #F9690E;
}

nav {
    text-align: right;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
    padding: 0 8px;
}

nav ul li a {
    color: #F9690E;
    text-decoration: none;
  
}
main section:nth-child(1) {
    background-image: url(../Requirements-and-Resources/Images/picture.jpg);
    margin-top: 3rem;
    background-size: cover;
    background-position: center center;
    padding: 11rem 15rem;
}

main section:nth-child(1) h1 {
color: white;
}
main section:nth-child(1) h1 span {
    color: #F9690E;
}

main section:nth-child(1) button {
    background: #F9690E;
    color: white;
    border: none;
    font-size: 22px;
    padding: 12px;
    font-weight: bold;
}

main section:nth-child(2) article{
    background: #F9690E;
    color: white;
    width: 29%;
    display: inline-block;
    padding: 23px;
}

main section:nth-child(2) article h3 {
    text-align: center;
}

footer article {
    width: 46%;
    display: inline-block;

}
footer article:nth-child(2) {
    text-align: right;
}
footer i {
    padding: 16px;
}