body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:small;
   
  }
  
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 25px;
    text-align: left;
    margin-left: 20%;
    padding: 1%;
  }
  th {
    text-align: center;
  }
  
  